<% if @player.hp <= 0 %>
You fall to the ground, defeated. Everything goes black. You see a beautiful light off in the distance. You've seen enough movies to know what's going on, so you run away from the light as fast as you can. Suddenly, you open your eyes. You can't see! You've gone blind!

Oh, wait, it's actually just pretty dark in here. Your eyes adjust to the light.


<br>
<% @player.update(hp: 100) %>
<% end %>

<%= @room.description %>
<br>
<br>
<% if @room.monsters.any? %>
  <% @room.monsters.each do |monster| %>
    <% if monster.killed_by_player? == false %>
    <% if monster.attack_counter == 0 %>
    <br>
    There seems to be something in here. It is <%= monster.description %>!
    <br>
      <% elsif monster.attack_counter > 0 %>
      <br>
      <%= monster.description %> attacks you for <%= monster.ap %> damage!
      <br>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @room.items.any? %>
  <% @room.items.each do |item| %>
    <% if item.in_backpack? == false %>
    <br>
    You notice a <%= item.name %> laying there, ripe for the taking.
    <br>
    <% end %>
  <% end %>
<% end %>

<%= @exit_output %>
<h3>What do you do?</h3>


<form action="/<%= @room.id %>" method="post">
  <input type ="hidden" name="_method" value="patch">
  <input type="hidden" name="hidden_id_room" value="<%= @room.id %>">
    <input id="action" name="action" type="text" autofocus>
</form>
