<% if @input.include?("attack") %>
	<% if @monster.killed_by_player? == false %>
	You <%= @input_string %>. Its HP is now <%= @monster.hp %>
	<% else %>
		The <%= @monster.description %> lays at your feet, dead as a doornail.
	<% end %>
<% elsif @input.include?("look") %>
	<%= @room.description %>
<% else %>
	You <%= @input_string %>
<% end %>



<% if @old_room.id != @player.room_id %>
<p><%= @room.description %></p>
<% end %>



<% if @room.monsters.any? %>
	<% @room.monsters.each do |monster| %>
	There seems to be something in here. It is <%= monster.description %>.
	<% end %>
<% end %>

<%= @exit_output %>

<form action="/<%= @room.id %>" method="post">
	<input type ="hidden" name="_method" value="patch">
	<input type="hidden" name="hidden_id_room" value="<%= @room.id %>">
  <input id="action" name="action" type="text">
</form>
